.chq_area{
    color: #e4032e;
    cursor: pointer;
    padding: 1px 3px 1px 3px;
    margin-right: 10px;
    display: inline-block;
	font-size:1.2em;
    
}

.chq_area:hover{
    color: #980000;
    text-decoration: underline;


}

.chq_distributorType{
    font-size: 1.5em;
}

.chq_table_normal,
.chq_table_leftTitle {
  width: 600px;
}
.chq_table_normal tr th {
    font-weight: 400;
    text-align: left;
    border: 1px solid #A9A9A9;
    background-color: #D3D3D3;
    color: black;
    font-size: 1.0em;
    padding: 8px;
}
.chq_table_normal tr td {
    padding: 8px;
    border: 1px solid #A9A9A9;
    color: black;
    font-size: 1.0em;
}

.chq_input1 {
    height: 24px;
    border: 1px solid #A9A9A9;
    padding: 1px 3px 1px 3px;
    
}
.chq_verify_search_button{
    background-color:#e4022e;
    width:70px;
    height:24px;
    margin:0;
    padding:0;
    color:white;
    font-size:0.7em;

    background-image: url(../images/btn_search.gif);
    background-repeat:no-repeat;
    background-size:80%;
    background-position:center;
}